
<nav>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link" routerLink="" >Mi App</a></li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/usuarios" [routerLinkActive]="'active'">Usuarios</a></li> <!--router link permite routing en Angular desde HTML, router link active muestra en que pestaña se encuentra actualemente el usuario (necesita estilos css para que funcione)-->
        <li class="nav-item">
            <a class="nav-link" routerLink="/posts" [routerLinkActive]="'active'">Posts</a></li>
    </ul>
</nav>
