<h1>Curso de Angular - Formularios</h1>

<p>mas clases en: https://www.youtube.com/user/gavilanchpro/playlists</p>

<p>a traves de los formularios el usuario puede ingresar informacion a la pagina para ser procesada y dar respuesta a una solicitud: Existen dos tipos de formularios principales que existen en Angular. Ambos son bastante utilies y utilizados, la eleccion de un formulario u otro dependera en gran parte de las preferencias del programador</p>

<h2>Formularios por Plantillas</h2>

<p>son formularios que tienen sus configuracion principalmente  en la plantilla del componente</p>

<app-template-form></app-template-form>


<h2>Formularios Reactivos</h2>

<p>Son formularios que tienen su configuracion en la clase del componente, se basan principalmente en codigo de Javascript</p>

<app-reactive-form></app-reactive-form>