
<h1>Curso Angular 9</h1>

<P>para mayor informacion ir a estos enlaces</P>
<p>https://www.youtube.com/user/gavilanchpro/playlists</p>

<!--Todos mis componentes del modulo-->

<app-interpolacion></app-interpolacion>
<!--<app-binding-eventos></app-binding-eventos>-->
<!--<app-binding-propiedad-atributo></app-binding-propiedad-atributo>-->
<!--<app-directivas-atributo></app-directivas-atributo>-->
<!--<app-directivas-estructurales></app-directivas-estructurales>-->
<!--<app-comunicacion-componentes></app-comunicacion-componentes>-->
